/*
  Copyright 2020 Mehmet Baker

  This file is part of galata-dergisi.

  galata-dergisi is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  galata-dergisi is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with galata-dergisi. If not, see <https://www.gnu.org/licenses/>.
*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.magazine {
  width: 800px;
  height: 500px;
}

.magazine .turn-page {
  background-color: white;
}

.magazine .cover {
  background: #333;
}

.magazine .cover h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  line-height: 500px;
  margin: 0;
}

.magazine .data {
  text-align: center;
  font-size: 40px;
  color: #999;
  line-height: 500px;
}

.player_container {
    width: 435px;
    height: 100px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #404040;
    font-weight: default !important;
    font-family: default !important;
    font-size: default !important;
    line-height: default !important;
}

.player_details { /*Song Name, Song Artist, Next-Prev Buttons, <hr>*/
    width: 413px;
    height: 40px;
    margin-left: 13px;
    margin-top: 5px;
    margin-bottom: 0;
    background-color: #404040;
    position: absolute;
    font-family: "Courier New", Courier, monospace;
    font-size: 13px;
    line-height: default;
    color: #ffffff;
}

#song_name {
    font-weight: bold;
}

#song_artist {
    font-style: italic;
}

.player_next { /*Next Button*/
    float: right;
    background-color: #404040;
    color: #fff;
    top: -15px;
    width: 15px;
    height: 15px;
    margin-right: 13px;
    position: relative;
    background-image: url(../pics/next.png);
    background-repeat: no-repeat;
}

.player_next:hover {
    cursor: pointer;
}

.player_previous { /*Previous Button*/
    float: right;
    background-color: #404040;
    color: #fff;
    top: -15px;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    position: relative;
    background-image: url(../pics/prev.png);
    background-repeat: no-repeat;
}

.player_previous:hover {
    cursor: pointer;
}

.horizontal_line { /*<hr>*/
    height: 2px;
    margin-top: 2px;
    background: -webkit-linear-gradient(rightrgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /*Standard*/
}

.player_play { /*Play Button*/
    float: left;
    height: 50px;
    width: 45px;
    background-color: #404040;
    border-radius: 5px;
    position: relative;
    top: 50px;
    z-index: 0;
}

.player_play:hover {
    background-color: rgba(0, 173, 239, 0.9);
    cursor: pointer;
}

.player_play:after {
    content: "";
    display: block;
    position: absolute;
    top: 13.5px;
    left: 15px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

.player_pause { /*Pause Button*/
    float: left;
    height: 50px;
    width: 45px;
    background-color: #404040;
    background-image: url(../pics/pause.png);
    background-repeat: no-repeat;
    border-radius: 5px;
    position: relative;
    top: 50px;
}

.player_pause:hover {
    background-color: rgba(0, 173, 239, 0.9);
    cursor: pointer;
}

.player_tracker_cont { /*Tracker Container*/
    position: relative;
    display: table-cell;
    vertical-align: middle;
    min-height: 50px;
    height: 50px;
    width: 230px;
    line-height: 50px;
    margin-left: 50px;
    float: left;
    margin-left: 2px;
    top: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.player_tracker { /*Empty Tracker*/
    position: absolute;
    top: 20px;
    left: 0;
    height: 5px;
    width: 230px;
    border-width: 1px;
    border-color: #808080;
    border-style: solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.player_tracker_loaded { /*Buffered Audio*/
    position: absolute;
    top: 20px;
    left: 0;
    height: 5px;
    width: 0;
    border-width: 1px;
    border-color: #808080;
    border-style: solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #808080;
    z-index: 1;
}

.player_tracker_loaded:hover {
    cursor: pointer;
}

.player_tracker_current { /*Played Audio*/
    position: absolute;
    top: 20px;
    left: 0;
    height: 5px;
    width: 0px;
    border-width: 1px;
    border-color: #808080;
    border-style: solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #ffffff;
    z-index: 2;
}

.player_tracker_current:hover {
    cursor: pointer;
}

.player_navigator { /*Tracker Navigator*/
    position: absolute;
    top: 17px;
    left: 0px;
    height: 10px;
    width: 20px;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #fff;
    z-index: 3;

}

.vertical-centering { /*Centering for the Current Time MM:SS*/
    height: 50px;
    position: relative;
    float: left;
    top: 48px;
    width: 20px;
    display: table-cell;
    vertical-align: middle;
    min-height: 50px;
    line-height: 50px;
    left: 4px;
}

.player_time { /*MM:SS*/
    font-weight: bolder;
    font-size: 13px;
    cursor: default;
    color: #fff;

}

.player_volume_button { /*Volume Button*/
    height: 50px;
    width: 50px;
    position: relative;
    float: left;
    top: 48px;
    background-image: url(../pics/volume_max.png);
    background-repeat: no-repeat;
    left: 10px;
}

.player_volume_button:hover {
    cursor: pointer;
}

.volume_cont { /*Volume Bar Container*/
    position: relative;
    float: left;
    height: 50px;
    width: 75px;
    top: 50px;

}

.player_volume_bar { /*Empty Volume Bar*/
    position: absolute;
    top: 20px;
    height: 5px;
    width: 75px;
    border-width: 1px;
    border-color: #808080;
    border-style: solid;
    border-radius: 5px;
    -moz-border-radius: 5px;

}

.player_volume_bar:hover {
    cursor: pointer;
}

.player_volume_current { /*Volume Bar Showing the Volume*/
    position: absolute;
    top: 20px;
    height: 5px;
    width: 0px;
    border-width: 1px;
    border-color: #808080;
    border-style: solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #ffffff;
    z-index: 2;
}

.player_volume_current:hover {
    cursor: pointer;
}

.right_bound { /*Needed to Calculate offset.right*/
    width: 1px;
    height: 50px;
    float: left;
    left: 3px;
    position: relative;
    top: 50px;
}

.player_show_time { /*Tracker-Hover Time (The Bubble)*/
    position: relative;
    width: 30px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    background-color: #fff;
    border: 1px solid #666;
    color: #000;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.player_show_time:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 12px;
    top: 10px;
    border: 4px solid;
    border-color: #fff transparent transparent #fff;
}

.player_show_time:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 12px;
    top: 10px;
    border: 2px solid;
    border-color: #fff transparent transparent #fff;
}

#show_time { /*Outer Div for Fixing the Time Bubble*/
    display: none;
    z-index: 1000;
    position: fixed;
}

@font-face {
	font-family: 'Sanskrit';
	src: url("../fonts/sanskrit.ttf");
}
@font-face {
	font-family: 'akaDora';
	src: url("../fonts/akaDora.ttf");
}

@font-face {
  font-family: 'Stempel-Garamond-W01-Roman';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Stempel-Garamond-W01-Roman.woff') format('woff');
}

ul.uDaghan {
	font-family:"Lucida Console", monospace;
	font-size:12px;
	margin:0;
	padding:0;
	line-height:42px;
}

h1{
	font-family:"Lucida Console",monospace;
	color:#444;
	font-weight:bold;
	font-size:15px;
}

h1.mContentsTitle {
	font:38px 'akaDora', helvetica, arial;
	font-weight:lighter;
	margin:20px 0;
	color:#333;

	-webkit-text-fill-color: #333;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 0.005em;
}

h1.mTitle {
	font-family:"Lucida Console",monospace;
	color:#444;
	font-weight:bold;
	font-size:15px;
	text-align:center;
	
}

h1.mAuthor {
	padding-top:15px;
	font-family:"Lucida Console",monospace;
	color:#444;
	font-size:13px;
	text-align:left;
}

h2 {
	font-family:"Lucida Console",monospace;
	color:#444;
	font-weight:bold;
	font-size:14px;
}

h3 {
	font-family:"Lucida Console",monospace;
	color:#444;
	font-weight:bold;
	font-size:13px;
}

p.mNesir{
	font-family:"Lucida Console", monospace;
	line-height:22px;
	text-indent:30px;
	font-size:12px;
}

p.mNesir2{
	font-family:"Lucida Console", monospace;
	line-height:22px;
	font-size:12px;
}

p.mSiir {
	font-family:"Lucida Console", monospace;
	line-height:22px;
	font-size:12px;
	padding-bottom:10px;
	
}

p.mSiir2 {
	font-family:"Lucida Console", monospace;
	line-height:22px;
	font-size:12px;
	padding-bottom:10px;
	padding-left:30px;
	
}

p.mCenter {
	font-family:"Lucida Console", monospace;
	line-height:22px;
	font-size:12px;
	text-align:center;
}

p.mRight {
	font-family:"Lucida Console", monospace;
	line-height:22px;
	font-size:12px;
	text-align:right;
}

.mMargin {
	width: 440px;
	height: 700px;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
}

div.mHR {
	position:relative;
	height:2px;
     background: -webkit-linear-gradient(left, white, black, white); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(right, white, black, white); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(right, white, black, white); /* For Firefox 3.6 to 15 */
     background: linear-gradient(to right, white, black, white); /* Standard syntax */
	
}
.mKunye {
	height:700px;
	padding-top:100px;
	font-family:"Lucida Console", monospace;
	font-size:13px;
	
}

.mKunyeTable {
	padding-left:123px;
}

.mKunyeTitle {
	padding-right:20px;
	padding-bottom:10px;
	padding-top:30px;
	font-weight:bold;
	text-align:center;
}

.mKunyeText {
	text-align:center;
}

.mIcKapak {
	width:100%;
	height:100px;
	background:url(../pics/bant.jpg);
	background-repeat:no-repeat;
	z-index:-1;
}

.mContents a{
	position:relative;
	float:left;
	width:100%;
	clear:both;
	text-decoration:none;
	color:#333;
	margin:0px 0;
	padding:0 3px;
	font-family:"Lucida Console", monospace;
	line-height:22px;
	font-size:12px;
}
.mContents a:hover{
	position:relative;
	background:#CAD1EE;
	float:left;
	width:100%;
	clear:both;
	text-decoration:none;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	border-radius:10px;
}

.mContentsHeadings {
	font-family:"Lucida Console", monospace;
	font-size:12px;
	font-weight:bold;
	height:50px;
	padding:0 3px;
}
.mContentsAuthors {
	font-family:"Lucida Console", monospace;
	font-size:12px;
	float:right;
}

.mIcResim {
	border:1px solid #444;
	width:400px;
	height:560px;	
}

.mPageNum {
	font-family:"Lucida Console", monospace;
	font-size:12px;
	text-align:center;
	width:440px;
	position:absolute;
	top:665px;
	left:0px;
}

.pageNumLeft {
	float:left;
	position:relative;
	height:1px;
	margin-left:235px;
	width:10px;
	top:4.5px;
	background: -webkit-linear-gradient(left, white, black); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(right, white, black); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(right, white, black); /* For Firefox 3.6 to 15 */
     background: linear-gradient(to right, white, black); /* Standard syntax */
}

.pageNum {
	float:left;
	position:relative;
	margin-left:5px;
}
.pageNumRight {
	float:left;
	position:relative;
	height:1px;
	width:10px;
	top:4.5px;
	margin-left:5px;
	background: -webkit-linear-gradient(right, white, black); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(left, white, black); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(left, white, black); /* For Firefox 3.6 to 15 */
     background: linear-gradient(to left, white, black); /* Standard syntax */
}
pre, p{
	font-family:"Lucida Console", monospace;
	font-size:12px;
	line-height:22px;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	color:#698145;
}

a:hover{
	text-decoration:underline;
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loader-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #d8cdcd transparent transparent transparent;
}

.loader div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
